@model ProfileViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<script>
    var draggableElements = document.getElementsByClassName("draggable");

    var canva = document.getElementById('canvacard');

    for (var i = 0; i < draggableElements.length; i++) {
        dragElement(draggableElements[i]);
    }

    function dragElement(elmnt) {

        if (document.getElementById(elmnt.id + " header")) {
            document.getElementById(elmnt.id + " header").onmousedown = dragMouseDown;
        } else {
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
            return false;
        }

        function elementDrag(e) {
            e = e || window.event;
            elmnt.style.top = e.clientY - canva.offsetTop  + 'px';
            elmnt.style.left = e.clientX - canva.offsetLeft + 'px';
        }

        function closeDragElement() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("SaveWidgetPos", "Dashboard")',
                dataType: "html",
                data: { widgetid: elmnt.id, x: elmnt.style.left, y: elmnt.style.top},
            });

            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    function RemoveWidget(service_name, widget_name) {
        $.get("/Dashboard/RemoveWidget", { servicename: service_name, widgetname: widget_name }).done(function (data) {
            location.reload();
        });
    }
</script>

@section DashboardCards
{
    <div id="canvacard">
        @{int RowSize = 0;}
        @foreach (var service in Dashboard.Startup.Services.ToList())
        {
            if (Startup.UserContainsService(service.Name, Model.Services))
            {
                foreach (var widget in service.Widgets.ToList())
                {
                    if (Startup.UserContainsWidget(widget, Model.Widgets))
                    {
                        if (RowSize == 0 || RowSize == 4)
                        {
                            @:<div class="row">
                            }
                            if (widget.Size == 1)
                            {
                                  <div id="@widget.Id" class="draggable col-xl-3 col-md-6" style="top: @Startup.GetWidgetPos(Model.Widgets, widget.Id)[1]; left: @Startup.GetWidgetPos(Model.Widgets, widget.Id)[0];">
                                      <div class="card card-stats">
                                          <div id="@widget.Id header" class="draggableheader card-header bg-transparent">
                                              <div class="row align-items-center">
                                                  <div class="col-xl-10">
                                                      <h5 class="card-title text-uppercase text-muted mb-0">@service.Name - @widget.Name</h5>
                                                  </div>
                                                  <div class="col text-right">
                                                      <button onclick="RemoveWidget('@service.Name', '@widget.Id')" type="button" class="close">
                                                          <span aria-hidden="true">×</span>
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- Card body -->
                                          @if (widget.Body != null)
                                          {
                                              <partial name="@widget.Body" />
                                          }
                                      </div>
                                  </div>
                                RowSize += 1;
                            }
                            else if (widget.Size == 2)
                            {
                                if (RowSize == 3)
                                {
                                @:</div>
                                @:<div class="row">
                                }
                                <div id="@widget.Id" class="draggable col-xl-6" style="top: @Startup.GetWidgetPos(Model.Widgets, widget.Id)[1]; left: @Startup.GetWidgetPos(Model.Widgets, widget.Id)[0];">
                                    <div class="card">
                                        <div id="@widget.Id header" class="draggableheader card-header bg-transparent">
                                            <div class="row align-items-center">
                                                <div class="col-xl-10">
                                                    <h5 class="card-title text-uppercase text-muted mb-0">@service.Name - @widget.Name</h5>
                                                </div>
                                                <div class="col text-right">
                                                    <button onclick="RemoveWidget('@service.Name', '@widget.Id')" type="button" class="close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Card body -->
                                        @if (widget.Body != null)
                                        {
                                            <partial name="@widget.Body" />
                                        }
                                    </div>
                                </div>
                                RowSize += 2;
                            }
                            if (RowSize == 4)
                            {
                            @:</div>
                            RowSize = 0;
                        }
                    }
                }
            }
        }
    </div>
}
